<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/footer.css">
    <title>Footer</title>
</head>

<body>
    <div class="container-fluid footer-basic">
        <footer class="mt-5">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="./home.html">Home</a></li>
                <li class="list-inline-item"><a href="./terms-service.html">Services</a></li>
                <li class="list-inline-item"><a href="./terms.html">Terms</a></li>
                <li class="list-inline-item"><a href="./privacy.html">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="#">Contact</a></li>
            </ul>
            <p class="copyright">CircHeal Studio © 2018</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>