<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/PortFolio/public/css/header.css">
    <link rel="stylesheet" src="/PortFolio/public/js/bootstrap/css/bootstrap.min.css">
    </link>
</head>

<body class="bg-clr">

    <div class="container ">
        <div class="frame-1 col-12">
            <div class="col-xxl-6 col-xl-6 col-lg-6 logo-txt">
                <img class="circ-heal-studio-logo-removebg-preview-1 mr-3" src="/PortFolio/public/images/header-logo.png" />
                <div class="circ-heal-studio ">CircHeal Studio</div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="frame-3">
                    <div class="nav-bar">
                        <div class="home">Home</div>
                        <div class="why-us">Why us?</div>
                        <div class="our-work">Our work</div>
                        <div class="workshop">Workshop</div>
                        <div class="shop">Shop</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <script src="/PortFolio/public/js/jQuery/jquery.3.7.0.js"></script>
    <script src="/PortFolio/public/js/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>