<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/home.css">
    <!-- <link rel="stylesheet" href="./css/whyus.css"> -->
    <link rel="stylesheet" href="./css/review.css">
    <link rel="stylesheet" href="./css/preview.css">
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Metal+Mania&family=Kalam&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container-fluid con-bg">

        <div class="row">
            <div id="header-file"></div>
            <div class="col-12 slider-container mb-3">
                <div class="slider-content ">
                    <!-- Place your offers or content here -->
                    <div class="offer mt-1 ">% Offer and upoming workshops %</div>
                    <!-- Repeat your offers as needed -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row bg-img-div">
                <!-- <div class="home-about-us"> -->
                <div class="col-xl-8 c0l-xxl-8 col-sm-12 col-xm-12 ">
                    <div class="about-us  ms-5">
                        <h3 class="about-txt ms-4 mb-4">About us</h3>
                        <span><span class="welcome-experiences-span">
                                &quot;Welcome to Circheal, where the mesmerizing world of </span><span
                                class="welcome-experiences-span2">mandala
                                art</span><span class="welcome-experiences-span3">
                                and playful doodles come together to ignite creativity and inspire
                                connections. With a passion for intricate designs and boundless
                                imagination,
                                <br>
                                <br>
                                <span class="welcome-experiences-span">
                                    &quot;we offer a range of immersive workshops, classes, and captivating artwork
                                    that celebrate the beauty of circles and lines.</span> Our artistic journey is
                                fueled by a dedication to crafting meaningful experiences.</span>
                            <br>
                            <br>
                            <br>
                            <!-- <a class="home-about-us-learn-more-txt" href="whyus.html">
                                    Read more
                                </a> -->
                            <div class="buttons-container mb-4">
                                <button class="button-arounder"><a href="whyus.html">Read more</a></button>
                            </div>
                        </span>

                    </div>


                </div>
                <div class="col-4">
                    <div class="image-container p-5 mt-5">
                        <img class="dynamic-image" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-custom-class="tooltip-custom" data-bs-title="Art by Nithya S" id="dynamic-image"
                            src="./images/IMG-0753-removebg-preview.png" alt="Dynamic Image">
                    </div>

                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="our-work-con">
                <div class="col-12">
                    <p>Our Workshop</p>
                </div>

            </div>
        </div>

    </div> -->

    <div class="container-fluid art-bg">
        <div class="container">
            <div class="row">
                <div class="book-ur-slot p-5 mt-5">
                    <!-- <div id="mandala-modal"></div> -->
                    <div id="tabs" class="tabs-visible">
                        <nav>
                            <div class="nav nav-tabs nav-tab-dsg" id="nav-tab" role="tablist">
                                <button class="nav-link active mandala-art-nav" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">Mandala Art</button>
                                <button class="nav-link bottle-art-nav" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">Bottle
                                    Painting</button>
                                <button class="nav-link doodle" id="nav-contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                    aria-selected="false">Doodle</button>
                            </div>
                        </nav>
                        <div class="tab-content nav-tab-dsg-doodle" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="mandala-art">
                                    <div class="mandala-art-header p-4">
                                        <span class="art-header">Mandala Art Workshop:</span>
                                        <div class="mandala-art-list ms-1" style="width: 100%;">
                                            <ol>
                                                <li>
                                                    Discover Mandalas: Explore the history, symbolism, and significance
                                                    of mandalas.
                                                </li>
                                                <li>
                                                    Create Harmonious Designs: Learn to design balanced and captivating
                                                    mandalas.
                                                </li>
                                                <li>
                                                    Color Your World: Dive into the world of colors and their emotional
                                                    impact.
                                                </li>
                                                <li>
                                                    Personalize Your Mandalas: Craft mandalas with themes close to your
                                                    heart.
                                                </li>
                                                <li>
                                                    Meditative Creation: Experience the meditative and mindful aspect of
                                                    mandala art.
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="art-btns-mandala">
                                            <div class="buttons-container mb-4">
                                                <button class="button-arounder"><a href="#">
                                                        One
                                                        Day Workshop</a></button>
                                            </div>
                                            <div class="buttons-container mb-4">
                                                <button class="button-arounder"><a href="#">40
                                                        Hours Workshop</a></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <div class="bottle-mandala-art">
                                    <div class="mandala-art-header p-4">
                                        <h3 class="art-header">Bottle Painting Workshop:</h1>
                                            <div class="mandala-art-list ms-1">
                                                <ol>
                                                    <li>
                                                        Transforming Glass: Discover the art of transforming plain
                                                        bottles into vibrant artworks.
                                                    </li>
                                                    <li>
                                                        Painting Techniques: Master techniques like layering, blending,
                                                        and detailing.
                                                    </li>
                                                    <li>
                                                        Design Aesthetics: Explore themes and designs that suit bottle
                                                        canvases.
                                                    </li>
                                                    <li>
                                                        Light and Shadow: Learn to play with light and shadow for a
                                                        dynamic effect.
                                                    </li>
                                                    <li>
                                                        Functional Art: Create stunning painted bottles that can be used
                                                        as decor or gifts.
                                                    </li>
                                                </ol>
                                            </div>
                                            <div class="art-btns-mandala">
                                                <div class="buttons-container mb-4">
                                                    <button class="button-arounder"><a href="">
                                                            One
                                                            Day Workshop</a></button>
                                                </div>
                                                <div class="buttons-container mb-4">
                                                    <button class="button-arounder"><a href="">40
                                                            Hours Workshop</a></button>
                                                </div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                <div class="doodle-mandala-art">
                                    <div class="mandala-art-header p-4">
                                        <h3 class="art-header">Doodle Art Workshop:</h1>
                                            <div class="mandala-art-list ms-1">
                                                <ol>
                                                    <li>
                                                        Master the Basics: Learn fundamental doodle patterns and
                                                        techniques.
                                                    </li>
                                                    <li>
                                                        Unlock Your Creativity: Create personalized and intricate doodle
                                                        designs.
                                                    </li>
                                                    <li>
                                                        Integrate Words and Symbols: Seamlessly blend words and quotes
                                                        into your doodles.
                                                    </li>
                                                    <li>
                                                        Explore Themes: Infuse your doodles with emotions, nature, and
                                                        more.
                                                    </li>
                                                    <li>
                                                        Doodle Challenges: Overcome creative blocks through exhilarating
                                                        challenges.
                                                    </li>
                                                </ol>
                                            </div>
                                            <div class="art-btns-mandala">
                                                <div class="buttons-container mb-4">
                                                    <button class="button-arounder"><a href="">
                                                            One
                                                            Day Workshop</a></button>
                                                </div>
                                                <div class="buttons-container mb-4">
                                                    <button class="button-arounder"><a href="">40
                                                            Hours Workshop</a></button>
                                                </div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <div class="row pre-bg">
                <div class="col-6">
                    <div class="photo-grid">
                        <!-- Add photos here -->
                        <img class="images" id="dynamic-image" src="./images/IMG-0753-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/26494.jpg-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/background-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image"
                            src="./images/DAF0B483-6A7F-49D4-9880-540809A8FEE3-removebg-preview (1).png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image"
                            src="./images/evie-s-kqJfP-lrl-8-unsplash-removebg-preview.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/FLOWER-MOON-MANDALA-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/image_6483441-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/images-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/Untitled-Artwork-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/social-media-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/padlock-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image"
                            src="./images/marjan-blan-6bXvYyAYVrE-unsplash-removebg-preview.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/IMG-0011-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                    </div>
                </div>
                <div class="col-6">
                    <div class="photos-collection-right">
                        <img class="photos-collection-image" src="./images/homeart.png" id="selected-image"
                            alt="Dynamic Image">
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="col-12 mt-3">
                <div class="workshop-btn-2">
                    <a class="workshop" href="./ourwork.html">See more pics -&gt;</a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-12 mt-4">
                <div class="photos-btn-cntrl">
                    <div class="col-4">
                        <div class="workshop-btn">
                            <a href="ourwork.html" class="workshop">Our works</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="workshop-btn">
                            <div class="workshop">Shop</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="workshop-btn">
                            <div class="workshop">Contact us;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- include html -->
        <div class="review-bg">
            <div id="review-content"></div>
        </div>


        <div class="footer">
            <div id="footer"></div>
        </div>

    </div>


    <script src="./js/common.js"></script>
    <script src="./js/jQuery/jquery.3.7.0.js"></script>
    <script src="./js/popper/popper.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="./js/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="./js/bootstrap/js/bootstrap.min.js"></script>

    <script>
        function includeHTML() {
            var element = document.getElementById("review-content");
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    element.innerHTML = xhr.responseText;
                }
            };
            xhr.open("GET", "review.html", true);
            xhr.send();

            var element = document.getElementById("review-content");
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    element.innerHTML = xhr.responseText;
                }
            };
            xhr.open("GET", "review.html", true);
            xhr.send();
        }

        // Call the function to include the HTML content
        includeHTML();

        $(document).ready(function () {
            $("#header-file").load("header.html");
            $("#mandala-modal").load("mandala-art-model.html");
            $("#footer").load("footer.html");

        });

        // tool tips
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>