<!DOCTYPE html>
<html>

<head>
    <title>Terms of Service</title>
    <!-- Include the OverlayScrollbars CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/terms-service.css">
</head>

<body>
    <div id="navbar-load"></div>
    <div class="container">
        <h1>Terms of Service</h1>

        <div class="section">
            <h2>These Terms of Service (&quot;Terms&quot;) govern your use of the Charmzz Techs web application (&quot;the Service&quot;) provided by Charmzz Techs. Please read these Terms carefully before using the Service. By accessing or using the Service,
                you agree to be bound by these Terms. If you do not agree with any part of these Terms, you may not use the Service.</h2>

        </div>

        <div class="section">
            <h2>1. Provision of Online Services</h2>
            <p>1.1 Scope: Charmzz Techs provides online services through the Service, which allows users to access and utilize various features and functionalities remotely without the need for face-to-face interactions.
            </p>
            <p>1.2 Service Availability: Charmzz Techs strives to ensure that the Service is available and accessible at all times. However, there may be occasions when the Service is temporarily unavailable due to technical issues or maintenance. Charmzz
                Techs shall not be held responsible for any inconvenience or loss arising from the unavailability of the Service.
            </p>
            <p>1.3 Service Limitations: While Charmzz Techs aims to provide accurate and reliable services, there may be limitations inherent in online interactions, such as communication delays or technical constraints. Users should take these limitations
                into consideration when using the Service and understand that Charmzz Techs may not be able to provide the same level of services as in face-to-face interactions.
            </p>
        </div>

        <!-- Include other sections as needed -->

        <div class="section">
            <h2>2. User Responsibilities</h2>
            <p>2.1 Account Security: Users are responsible for maintaining the security and confidentiality of their account credentials. You agree to notify Charmzz Techs immediately of any unauthorized use or suspected breach of your account.</p>
            <p>2.2 Compliance with Laws: Users must comply with all applicable laws and regulations while using the Service. You shall not use the Service for any illegal or unauthorized purpose.</p>
            <p>2.3 User Content: Users may have the opportunity to submit or share content through the Service. You retain ownership of any intellectual property rights that you hold in the content you submit. By submitting content, you grant Charmzz Techs
                a worldwide, non-exclusive, royalty- free license to use, reproduce, modify, adapt, publish, distribute, and display the content in connection with the Service.</p>

        </div>

        <div class="section">
            <h2>3. Intellectual Property</h2>
            <p>3.1 Ownership: Charmzz Techs retains all rights, title, and interest in and to the Service, including all intellectual property rights. You may not copy, modify, distribute, sell, or lease any part of the Service without prior written consent
                from Charmzz Techs.
            </p>
            <p>3.2 Trademarks: All trademarks, logos, and service marks displayed on the Service are the property of Charmzz Techs or their respective owners. You are prohibited from using any trademarks, logos, or service marks without the prior written
                consent of the owner.</p>

        </div>
        <div class="section">
            <h2>4. Limitation of Liability</h2>
            <p>To the fullest extent permitted by law, Charmzz Techs and its affiliates, officers, directors, employees, agents, and partners shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in
                connection with the use of the Service, including but not limited to any errors or omissions in the content, loss of data, or interruption or delay in service. This limitation of liability applies whether the claim is based on warranty,
                contract, tort, or any other legal theory, even if Charmzz Techs has been advised of the possibility of such damages.
            </p>


        </div>
        <div class="section">
            <h2>5. Modification and Termination</h2>
            <p>Charmzz Techs reserves the right to modify or terminate the Service or these Terms at any time without prior notice. Continued use of the Service after any such modifications shall constitute your consent to the modified Terms.
            </p>


        </div>
        <div class="section">
            <h2>6. Governing Law and Jurisdiction</h2>
            <p>These Terms shall be governed by and construed in accordance with the laws of the jurisdiction where Charmzz Techs is registered. Any disputes arising out of or in connection with these Terms shall be subject to the exclusive jurisdiction
                of the courts in that jurisdiction. By using the Service, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service.
            </p>


        </div>
        <div class="section">
            <h2>7. Children&#39;s Privacy</h2>
            <p>Our website is not intended for individuals under the age of 16. We do not knowingly collect personal information from children. If you are a parent or guardian and believe that your child has provided us with personal information, please
                contact us using the contact details provided below, and we will take steps to delete such information from our systems.
            </p>


        </div>
        <div class="section">
            <h2>8. Changes to this Privacy Policy</h2>
            <p>We reserve the right to update or modify this Privacy Policy at any time without prior notice. Any changes to this Privacy Policy will be posted on this page with a revised &quot;Effective Date&quot; indicated at the top. Your continued use
                of our website after any changes signifies your acceptance of the updated Privacy Policy.
            </p>


        </div>

    </div>
    <div id="footer-load"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        var navbarDiv = document.getElementById('navbar-load');
        var footerDiv = document.getElementById('footer-load');

        var navbarXHR = new XMLHttpRequest();
        navbarXHR.open('GET', 'navbar.html', true);
        navbarXHR.onreadystatechange = function() {
            if (navbarXHR.readyState === 4 && navbarXHR.status === 200) {
                navbarDiv.innerHTML = navbarXHR.responseText;
            }
        };
        navbarXHR.send();

        var footerXHR = new XMLHttpRequest();
        footerXHR.open('GET', 'footer.html', true);
        footerXHR.onreadystatechange = function() {
            if (footerXHR.readyState === 4 && footerXHR.status === 200) {
                footerDiv.innerHTML = footerXHR.responseText;
            }
        };
        footerXHR.send();
    });
</script>

</html>