<!DOCTYPE html>
<html>

<head>

    <title>Privacy Policy</title>
    <!-- Include the OverlayScrollbars CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/terms.css">
</head>

<body>
    <div id="navbar-load"></div>
    <div class="container">
        <h1>Privacy Policy</h1>

        <div class="section">
            <h2>Please read these Terms of Use (&quot;Terms&quot;) carefully before using our web application. These Terms govern your access to and use of the services provided by Charmzz Techs (&quot;we,&quot; &quot;us,&quot; or &quot;our&quot;). By accessing
                or using our web application, you agree to be bound by these Terms.</h2>

        </div>

        <div class="section">

            <p>1. Acceptance of Terms By accessing or using our web application, you acknowledge that you have read, understood, and agree to be bound by these Terms. If you do not agree to these Terms, you may not access or use our web application.</p>
            <p>2. User Responsibilities You are responsible for maintaining the confidentiality of any login credentials and for all activities that occur under your account. You agree to use our web application for lawful purposes only and not to engage
                in any activity that may disrupt or interfere with the functioning of our web application.
            </p>
            <p>3. Intellectual Property All intellectual property rights related to our web application, including but not limited to trademarks, logos, graphics, and software, are the property of Charmzz Techs or its licensors. You may not use, reproduce,
                distribute, or modify any of the intellectual property without our prior written consent.
            </p>
            <p>4. User Content By using our web application, you may have the opportunity to submit, post, or display content. You retain ownership of any intellectual property rights that you hold in the content you submit. However, by submitting content,
                you grant Charmzz Techs a worldwide, non-exclusive, royalty-free license to use, reproduce, modify, adapt, publish, distribute, and display the content for the purpose of providing our services.</p>
            <p>5. Limitation of Liability Charmzz Techs shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with your use of our web application. We do not warrant the accuracy,
                completeness, or reliability of any content provided through our web application.</p>
            <p>6. Third-Party Links Our web application may contain links to third-party websites or resources. These links are provided for your convenience, and Charmzz Techs is not responsible for the content, products, or services on or available through
                these websites or resources. You acknowledge and agree that we are not responsible or liable for any damages or loss caused by your use of any third-party websites or resources.</p>
            <p>7. Termination Charmzz Techs reserves the right to suspend or terminate your access to our web application at any time, without notice, for any reason, including if we believe that you have violated these Terms or engaged in any unlawful or
                unauthorized activities.</p>
            <p>8. Modification of Terms We may modify these Terms at any time by posting the updated Terms on our web application. Your continued use of our web application after any such changes constitutes your acceptance of the modified Terms.</p>
            <p>9. Governing Law These Terms shall be governed by and construed in accordance with the laws of the jurisdiction in which Charmzz Techs operates, without regard to its conflict of law principles.</p>
            <p>10. Contact Us If you have any questions or concerns about these Terms, please contact us at [contact email].
            </p>
            <h3>By accessing or using our web application, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use.</h3>
        </div>


    </div>
    <div id="footer-load"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        var navbarDiv = document.getElementById('navbar-load');
        var footerDiv = document.getElementById('footer-load');

        var navbarXHR = new XMLHttpRequest();
        navbarXHR.open('GET', 'navbar.html', true);
        navbarXHR.onreadystatechange = function() {
            if (navbarXHR.readyState === 4 && navbarXHR.status === 200) {
                navbarDiv.innerHTML = navbarXHR.responseText;
            }
        };
        navbarXHR.send();

        var footerXHR = new XMLHttpRequest();
        footerXHR.open('GET', 'footer.html', true);
        footerXHR.onreadystatechange = function() {
            if (footerXHR.readyState === 4 && footerXHR.status === 200) {
                footerDiv.innerHTML = footerXHR.responseText;
            }
        };
        footerXHR.send();
    });
</script>

</html>