<div class="why-us">
    <div class="flowers">

    </div>
    <img class="image-6483441-removebg-preview-1" src="image-6483441-removebg-preview-1.png" />
    <div class="unleash-creativity-heal-with-art">
        Unleash <br />Creativity , heal <br />with #Art
    </div>
    <div class="buttons">
        <div class="button-lear-more">
            <div class="rectangle-9"></div>
            <div class="learn-more">Learn more..</div>
        </div>
        <div class="button-signup">
            <div class="rectangle-10"></div>
            <div class="sign-up">Sign up</div>
        </div>
    </div>
    <div class="circ-heal-studio">CircHeal Studio</div>
    <div class="form">
        <div class="image-pop-contact-form">
            <div class="rectangle-14"></div>
            <div class="rectangle-15"></div>
        </div>
        <div class="contact-us-form">
            <div class="contact-us">Contact us:</div>
            <div class="first-name">
                <div class="first-name2">
                    <span><span class="first-name-2-span">First name </span><span
                            class="first-name-2-span2">*</span></span>
                </div>
                <div class="rectangle-12"></div>
            </div>
            <div class="middle-name">
                <div class="middle-name2">middle name</div>
                <div class="rectangle-122"></div>
            </div>
            <div class="last-name">
                <div class="last-name2">
                    <span><span class="last-name-2-span">Last name </span><span
                            class="last-name-2-span2">*</span></span>
                </div>
                <div class="rectangle-123"></div>
            </div>
            <div class="email">
                <div class="email2">
                    <span><span class="email-2-span">Email </span><span class="email-2-span2">*</span></span>
                </div>
                <div class="rectangle-124"></div>
            </div>
            <div class="mobile">
                <div class="mobile2">mobile</div>
                <div class="rectangle-125"></div>
                <div
                    class="mobile-number-is-not-mandatory-but-please-add-an-active-mobile-number-to-get-faster-response">
                    mobile number is not mandatory but, Please add an active mobile number to get faster response.
                </div>
            </div>
            <div class="message">
                <div class="message2">
                    <span><span class="message-2-span">Message </span><span class="message-2-span2">*</span></span>
                </div>
                <div class="rectangle-126"></div>
            </div>
            <div class="feel-free-to-add-a-message-we-will-try-to-reply-asap">
                feel free to add a message, We will try to reply asap..
            </div>
            <div class="mandatory-fields-are-represented-by-a-next-to-it-you-cannot-leave-them-empty">
                mandatory fields are represented by a (*) next to it, you cannot leave them empty.
            </div>
        </div>
    </div>
    <div class="email-send">
        <img class="dfsd-1" src="dfsd-1.png" />
        <div class="email-send-successfully-you-will-get-a-response-asap">
            Email Send successfully .. <br />You will get a response ASAP
        </div>
        <div class="rectangle-16"></div>
    </div>
    <div class="why-to-choose-circheal-studio">
        Why TO Choose Circheal Studio?
    </div>
    <div class="join-us">
        <div class="component-1">
            <div class="rectangle-7"></div>
        </div>
        <div class="join-us2">Join Us<br /></div>
    </div>
    <div class="intro-2">
        <div class="text-3">
            <div
                class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together">
                <span><span
                        class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span">
                        <br />
                        Explore the fusion of mandala and doodle art, as we guide you
                        through </span><span
                        class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span2">workshop</span>
                    <span
                        class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span3">
                        designed to unlock your artistic potential. <br />
                        <br /> From the delicate strokes of a pen to the vibrant hues of color, we believe in the
                        power of self-expression and the magic that unfolds within every curve. </span><span
                        class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span4">Join
                        us</span><span
                        class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span5">
                        on this artistic odyssey, where you&#039;ll discover the art of
                        creating beauty from lines, shapes, and colors. <br /><br />
                        Dive into a world where creativity knows no boundaries, and where
                        each stroke of the pen becomes a gateway to endless possibilities.
                        Let&#039;s create, connect, and draw circles of inspiration
                        together.&quot;</span></span>
            </div>
            <div class="join-us3">
                <div class="join-us4">Join us</div>
            </div>
        </div>
        <div class="workshop">workshop</div>
        <div class="imgae-zoom">
            <img class="daf-0-b-483-6-a-7-f-49-d-4-9880-540809-a-8-fee-3-removebg-preview-1"
                src="daf-0-b-483-6-a-7-f-49-d-4-9880-540809-a-8-fee-3-removebg-preview-1.png" />
        </div>
        <div class="name-tag">
            <svg class="vector-75" width="321" height="64" viewBox="0 0 321 64" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0L165 63.5H321" stroke="black" stroke-width="3" />
            </svg>

            <div class="rectangle-21"></div>
            <div class="art-by-nithya-s">Art by Nithya S</div>
        </div>
    </div>
    <div class="intro-1">
        <div class="rotation">
            <img class="img-0753-removebg-preview-1" src="img-0753-removebg-preview-1.png" />
        </div>
        <div
            class="welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences">
            <span><span
                    class="welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences-span">
                    &quot;Welcome to Circheal, where the mesmerizing world of </span><span
                    class="welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences-span2">mandala
                    art</span><span
                    class="welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences-span3">
                    and playful doodles come together to ignite creativity and inspire
                    connections. With a passion for intricate designs and boundless
                    imagination, <br /><br />
                    we offer a range of immersive workshops, classes, and captivating
                    artwork that celebrate the beauty of circles and lines. Our artistic
                    journey is fueled by a dedication to crafting meaningful
                    experiences.</span></span>
        </div>
        <div class="name-tag2">
            <svg class="vector-752" width="138" height="70" viewBox="0 0 138 70" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M138 0L103.5 69.3642H0" stroke="black" stroke-width="3" />
            </svg>

            <div class="rectangle-212"></div>
            <div class="art-by-nithya-s2">Art by Nithya S</div>
        </div>
        <div class="mandala-art">
            <div class="mandala-art2">mandala art</div>
        </div>
    </div>
    <div class="why-us-points">
        <div class="text-change-4">
            <div class="text-1">
                <div class="component-12">
                    <div class="rectangle-72"></div>
                </div>
                <div class="variety-of-workshops-classes-for-all-interests-skill-levels">
                    Variety of workshops &amp; classes for all interests/skill levels
                </div>
            </div>
        </div>
        <div class="text-change-7">
            <div class="text-1">
                <div class="component-12">
                    <div class="rectangle-72"></div>
                </div>
                <div class="community-of-creative-souls">
                    Community of creative souls
                </div>
            </div>
        </div>
        <div class="text-change">
            <div class="text-1">
                <div class="component-12">
                    <div class="rectangle-72"></div>
                </div>
                <div class="passionate-instructors-who-nurture-creativity-growth">
                    Passionate instructors who nurture creativity &amp; growth
                </div>
            </div>
        </div>
        <div class="text-change-8">
            <div class="text-1">
                <div class="component-12">
                    <div class="rectangle-72"></div>
                </div>
                <div class="convenient-location-parking">
                    Convenient location &amp; parking
                </div>
            </div>
        </div>
        <div class="text-change-2">
            <div class="text-1">
                <div class="component-12">
                    <div class="rectangle-72"></div>
                </div>
                <div class="calm-welcoming-studio-environment">
                    Calm, welcoming studio environment
                </div>
            </div>
        </div>
        <div class="text-change-3">
            <div class="text-1">
                <div class="component-12">
                    <div class="rectangle-72"></div>
                </div>
                <div class="small-class-sizes-for-individual-attention">
                    Small class sizes for individual attention
                </div>
            </div>
        </div>
        <div class="text-change-5">
            <div class="text-1">
                <div class="component-12">
                    <div class="rectangle-72"></div>
                </div>
                <div class="customized-retreats-art-therapy-programs">
                    Customized retreats &amp; art therapy programs
                </div>
            </div>
        </div>
        <div class="text-change-9">
            <div class="text-1">
                <div class="component-12">
                    <div class="rectangle-72"></div>
                </div>
                <div class="affordable-pricing">Affordable pricing</div>
            </div>
        </div>
        <div class="join-us">
            <div class="component-13">
                <div class="rectangle-73"></div>
            </div>
            <div class="join-us5">Join Us<br /></div>
        </div>
        <!-- <div class="header">
        <div class="frame-1">
            <div class="circ-heal-studio2">CircHeal Studio</div>
            <img class="circ-heal-studio-logo-removebg-preview-1"
                src="circ-heal-studio-logo-removebg-preview-1.png" />
            <div class="frame-3">
                <div class="nav-bar">
                    <img class="image-1" src="image-1.png" />
                    <div class="home">Home</div>
                    <div class="why-us2">Why us?</div>
                    <div class="our-work">Our work</div>
                    <div class="workshop2">Workshop</div>
                    <div class="shop">Shop</div>
                </div>
            </div>
        </div>
    </div> -->
    </div>


    <div
        class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together">
        <span><span
                class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span">
                <br />
                Explore the fusion of mandala and doodle art, as we guide you through </span><span
                class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span2">workshop</span><span
                class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span3">
                designed to unlock your artistic potential. <br />
                <br />
                From the delicate strokes of a pen to the vibrant hues of color, we
                believe in the power of self-expression and the magic that unfolds within
                every curve. </span><span
                class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span4">Join
                us</span><span
                class="explore-the-fusion-of-mandala-and-doodle-art-as-we-guide-you-through-workshop-designed-to-unlock-your-artistic-potential-from-the-delicate-strokes-of-a-pen-to-the-vibrant-hues-of-color-we-believe-in-the-power-of-self-expression-and-the-magic-that-unfolds-within-every-curve-join-us-on-this-artistic-odyssey-where-you-ll-discover-the-art-of-creating-beauty-from-lines-shapes-and-colors-dive-into-a-world-where-creativity-knows-no-boundaries-and-where-each-stroke-of-the-pen-becomes-a-gateway-to-endless-possibilities-let-s-create-connect-and-draw-circles-of-inspiration-together-span5">
                on this artistic odyssey, where you&#039;ll discover the art of creating
                beauty from lines, shapes, and colors. <br /><br />
                Dive into a world where creativity knows no boundaries, and where each
                stroke of the pen becomes a gateway to endless possibilities. Let&#039;s
                create, connect, and draw circles of inspiration together.&quot;</span></span>
    </div>