<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/whyus.css">
    <link rel="stylesheet" href="./css/review.css">
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Metal+Mania&family=Kalam&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/stylesheet" src="/public/resources/js/bootstrap/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="body-margin-1">

    <div class="container body-margin">
        <div id="header-file"></div>
        <div class="col-12 join-cls mt-5">
            <button class="join-btn" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Join Us</a>
            </button>
        </div>
        <div class="div-content">
            <div class="row join-us-header">
                <div class="col-xl-8 col-lg-8 col-xxl-8 col-sm-12 col-xm-12 para-box p-3">
                    <p class="p-style mt-3">
                        <span><span class="welcome-experiences-span">
                                &quot;Welcome to Circheal, where the mesmerizing world of </span><span
                                class="welcome-experiences-span2">mandala
                                art</span><span class="welcome-experiences-span3">
                                and playful doodles come together to ignite creativity and inspire
                                connections. With a passion for intricate designs and boundless
                                imagination,
                                <br>
                                <br>
                                <span class="welcome-experiences-span mt-5">
                                    &quot;we offer a range of immersive workshops, classes, and captivating artwork
                                    that celebrate the beauty of circles and lines.</span> Our artistic journey is
                                fueled by a dedication to crafting meaningful experiences.</span>
                            <br>

                        </span>
                    </p>
                </div>
                <div class="col-xl-4 col-lg-4 col-xxl-4 col-sm-12 col-xm-12 img-center">
                    <img class="img-style" src="./images/whyus-1.png" alt="">

                </div>
            </div>
            <div class="row join-us-header">
                <div class="col-xl-4 col-lg-4 col-xxl-4 col-sm-12 col-xm-12 img-center">
                    <img class="img-style-2" src="./images/whyus-2.png" alt="">

                </div>
                <div class="col-xl-4 col-lg-4 col-xxl-4 col-sm-12 col-xm-12 para-box p-3">
                    <p class="p-style mt-4">
                        <span class="welcome-experiences-span">
                            &quot;Explore the fusion of mandala and doodle art, as we guide you through <span
                                class="welcome-experiences-span2">workshop</span> designed to unlock your artistic
                            potential. </span>
                        <br>
                        <span class="welcome-experiences-span">
                            From the delicate strokes of a pen to the vibrant
                            hues of color, we believe in the power of
                            self-expression and the magic that unfolds within every curve.<span
                                class="welcome-experiences-span2">Join us</span> on this artistic odyssey, where youll
                            discover the art of creating beauty from lines, shapes, and colors. </span>
                        <br>
                        <span class="welcome-experiences-span">
                            Dive into a world where creativity knows
                            no boundaries, and where each stroke of the pen becomes a gateway to endless possibilities.
                            Lets
                            create, connect, and draw circles of inspiration together.</span> </span>

                    </p>

                </div>
            </div>
        </div>
        <div>
            <div class="why-to-choose-circheal-studio">Why TO Choose Circheal Studio?</div>

        </div>
        <div class="rectangle-46 p-4">
            <div class="col-12 why-to-choose-box p-4">
                <div class="why-to-choose-box-content">
                    <div class="col-6 passionate-tittle-growth">
                        <div class="passionate-tittle-growth">
                            <p class="header-title">Passionate instructors <br />who nurture creativity &amp; growth
                            </p>
                            <p class="header-value mt-2">
                                Our talented instructors are passionate about art and guiding students on their creative
                                journey. Their enthusiasm is contagious!
                            </p>
                        </div>
                    </div>
                    <div class="col-6 passionate-tittle-growth-2">
                        <div class="passionate-tittle-growth-2">
                            <p class="header-title">Customized retreats &amp; art therapy programs</p>
                            <p class="header-value-2 mt-2">
                                In addition to group classes, we craft customized art retreats and art therapy plans
                                tailored to your needs.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="why-to-choose-box-content">
                    <div class="col-6 passionate-tittle-growth">
                        <div class="passionate-tittle-growth">
                            <p class="header-title"> Calm, welcoming studio environment</p>
                            <p class="header-value mt-2">
                                Our talented instructors are passionate about art and guiding students on their creative
                                journey. Their enthusiasm is contagious!
                            </p>
                        </div>
                    </div>
                    <div class="col-6 passionate-tittle-growth-2">
                        <div class="passionate-tittle-growth-2">
                            <p class="header-title">Customized retreats &amp; art therapy programs</p>
                            <p class="header-value-2 mt-2">
                                Meet like-minded people, form friendships and find your tribe in our creative community.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="why-to-choose-box-content">
                    <div class="col-6 passionate-tittle-growth">
                        <div class="passionate-tittle-growth">
                            <p class="header-title">Small class sizes for individual attention</p>
                            <p class="header-value mt-2">
                                We keep our class sizes small so students can connect with instructors and get
                                personalized guidance.
                            </p>
                        </div>
                    </div>
                    <div class="col-6 passionate-tittle-growth-2">
                        <div class="passionate-tittle-growth-2">
                            <p class="header-title">Variety of workshops &amp; classes for all interests / skill levels
                            </p>
                            <p class="header-value-2 mt-2">
                                We offer an ever-evolving schedule of diverse workshops &amp; classes to spark new
                                passions.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="why-to-choose-box-content">
                    <div class="col-6 passionate-tittle-growth">
                        <div class="passionate-tittle-growth">
                            <p>Affordable pricing</p>
                            <p class="header-value mt-2">
                                Contact us for Discounts and price.
                            </p>
                        </div>
                    </div>
                    <div class="col-6 passionate-tittle-growth-2">
                        <div class="passionate-tittle-growth-2">
                            <p class="header-title">Convenient location &amp; parking</p>
                            <p class="header-value-2 mt-2">
                                We&#039;re easily accessible, with free parking for all students.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="img-flower">
                <img src="./images/evie-s-kqJfP-lrl-8-unsplash-removebg-preview.png" alt="">
            </div>
        </div>

        <div class="col-12">
            <div id="mandala-modal"></div>
        </div>

    </div>
    <!-- preview -->
    <div class="container-fluid">
        <!-- include html -->
        <div id="review-content"></div>
    </div>

    <div class="join-us-form ">
        <!-- Modal -->
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <h5 class="modal-title" id="exampleModalToggleLabel">Contact us</h5>
                            <p>
                                feel free to add a message, We will try to reply asap.. mandatory fields are represented
                                by a (*) next to it, you cannot leave them empty.
                            </p>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <form>
                                        <div class="form over-all-con">
                                            <div>
                                                <div class="mb-3">
                                                    <div class=" d-inline-flex align-items-center">
                                                        <label for="firstname" class="form-label"
                                                            style="min-width: 100px !important ">First Name</label>
                                                        <input type="text" class=" form-control input-style"
                                                            name="firstname " aria-describedby="firstname">

                                                    </div>
                                                </div>
                                                <div class=" mb-3 ">
                                                    <div class=" d-inline-flex align-items-center ">
                                                        <label for=" middlename " class=" form-label "
                                                            style=" min-width: 100px !important ">Middle
                                                            Name</label>
                                                        <input type=" text " class=" form-control input-style "
                                                            name=" middlename ">
                                                    </div>
                                                </div>
                                                <div class=" mb-3 ">
                                                    <div class=" d-inline-flex align-items-center ">
                                                        <label for=" lastname " class=" form-label "
                                                            style=" min-width: 100px !important ">Last Name</label>
                                                        <input type=" text " class=" form-control input-style "
                                                            name=" lastname " aria-describedby=" lastname ">

                                                    </div>
                                                </div>
                                                <div class=" mb-3 ">
                                                    <div class=" d-inline-flex align-items-center ">
                                                        <label for=" email " class=" form-label "
                                                            style=" min-width: 100px !important ">Email</label>
                                                        <input type=" email " class=" form-control input-style "
                                                            name=" email ">
                                                    </div>
                                                </div>
                                                <div class=" mb-3 ">
                                                    <div class=" d-inline-flex align-items-center ">
                                                        <label for=" mobile " class=" form-label "
                                                            style=" min-width: 100px !important ">Mobile</label>
                                                        <input type=" number " class=" form-control input-style "
                                                            name=" mobile " aria-describedby=" mobile ">

                                                    </div>
                                                </div>
                                                <div class="mb-3 ">
                                                    <div class="d-inline-flex align-items-center ">
                                                        <label for="message " class=" form-label "
                                                            style="min-width: 100px !important ">Message</label>
                                                        <input type="text " class=" form-control input-style "
                                                            name="message ">
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </form>
                                </div>
                                <div class="col-6">
                                    <!-- whatsapp -->
                                    <div class="rectangle-93 ">
                                        <div class="whatspp-link ">
                                            <div class="whatsapp-logo ">
                                                <img class=" whatsapp-1 " src=" ./images/whatsapp-logo.png " />
                                            </div>
                                            <div class="whats-app-text ">
                                                Please click the icon to connect with us in WhatsApp <br />
                                                <br>
                                                <div class="contact mb-4 ">+91 9789318307</div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-target="#Thankyoumodal"
                            data-bs-toggle="modal" data-bs-dismiss="modal">Send us</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Thankyoumodal" aria-hidden="true" aria-labelledby="Thankyoumodal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row ">
                            <div class="col-6 thnkmgs">
                                <div class="res-message ">
                                    We Got your Email..<br />You will get a response ASAP<br />Thanks for Contacting us.
                                </div>
                                <button class="btn btn-primary" data-bs-target="#myModal" data-bs-toggle="modal"
                                    data-bs-dismiss="modal">Back </button>
                            </div>
                            <div class="col-6">
                                <img class="thankyou-gif" src=" ./images/thankyou-gif.gif " />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div id="footer"></div>
    </div>

    <script src="./js/jQuery/jquery.3.7.0.js"></script>
    <script src="./js/jQuery/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="./js/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="./js/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="./js/index.js"> -->
    </script>

    <script>
        function includeHTML() {
            var element = document.getElementById("review-content");
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    element.innerHTML = xhr.responseText;
                }
            };
            xhr.open("GET", "review.html", true);
            xhr.send();
        }

        // Call the function to include the HTML content
        includeHTML();

        $(document).ready(function () {
            $("#header-file").load("header.html");
            $("#mandala-modal").load("mandala-art-model.html");
            $("#footer").load("footer.html");
        });
    </script>
</body>

</html>