<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/workshop.css">
    <link rel="stylesheet" href="./css/preview.css">
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Metal+Mania&family=Kalam&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container-fluid workshop">
        <div id="loading-screen">
            <div class="spinner"></div>
        </div>
        <div id="header-file"></div>

        <div class="three-column-container">
            <div class="column s-img">
                <img class="s-img-1" src="./images/swati-h-das-PEwRuAaYRZw-unsplash (1).jpg" alt="Image 1.1" />
                <div class="row">
                    <img src="./images/1amfcs-zFISpXr8GUg-unsplash.jpg" alt="Image 1.2" />
                </div>
            </div>
            <div class="column s-img">
                <div class="row-img">
                    <div>
                        <img src="./images/dan-cristian-padure-OoVRrZMbDgE-unsplash.jpg" alt="Image 2.1" />
                    </div>
                    <div>
                        <img src="./images/katarzyna-pypla-ABmwVK84jQ4-unsplash.jpg" alt="Image 2.2" />
                    </div>
                </div>
                <div class="row">
                    <img src="./images/den-harrson-PEttJRISq1w-unsplash.jpg" alt="Image 2.2" />
                </div>
            </div>
            <div class="column s-img-2">
                <img src="./images/customerbox-O6qSPPWezLI-unsplash.jpg" alt="Image 3" />
            </div>
            <div class="centered-text">
                <p class="unleash-your">
                    🎨 Unleash Your Creative Expression: <br />Doodle, Mandala, and Bottle Painting Workshops! 🖋️🌈🎨
                </p>
            </div>
        </div>

    </div>
    <div class="container-fluid bg-clr-clg">
        <div class="container p-4">
            <div class="row">
                <div class="col-8 img-div mt-5 p-4">
                    <div class="col">
                        <div class="image-container">
                            <img src="./images/E9AFB528-1160-404D-9841-A97C41B3320C.JPG" alt="Image 1"
                                class="image-front" />
                            <img src="./images/E9AFB528-1160-404D-9841-A97C41B3320C.JPG" alt="Image 2"
                                class="image-behind" />
                        </div>
                    </div>
                    <div class="col mt-5">
                        <div class="centered">
                            <p class="unleash">
                                upcoming workshop details<br />will be updated regularly
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-4 r-img-div">
                    <div class="col-6">
                        <div>
                            <img class="r-img" src="./images/1592108168694.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <img class="r-img" src="./images/swati-h-das-FzyhtbfnZ_s-unsplash.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- animated carasoul effect -->
    <div class="container-fluid">
        <div class="container">

        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="book-ur-slot p-5 mt-5">
                <!-- <div id="mandala-modal"></div> -->
                <div id="tabs" class="tabs-visible">
                    <nav>
                        <div class="nav nav-tabs nav-tab-dsg" id="nav-tab" role="tablist">
                            <button class="nav-link active mandala-art-nav" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">Mandala Art</button>
                            <button class="nav-link bottle-art-nav" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false">Bottle
                                Painting</button>
                            <button class="nav-link doodle" id="nav-contact-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                aria-selected="false">Doodle</button>
                        </div>
                    </nav>
                    <div class="tab-content nav-tab-dsg-doodle" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="mandala-art">
                                <div class="mandala-art-header">
                                    <h3 class="p-4">Mandala Art Workshop:</h1>
                                        <div class="mandala-art-list ms-1" style="width: 100%;">
                                            <ol>
                                                <li>
                                                    Discover Mandalas: Explore the history, symbolism, and significance
                                                    of mandalas.
                                                </li>
                                                <li>
                                                    Create Harmonious Designs: Learn to design balanced and captivating
                                                    mandalas.
                                                </li>
                                                <li>
                                                    Color Your World: Dive into the world of colors and their emotional
                                                    impact.
                                                </li>
                                                <li>
                                                    Personalize Your Mandalas: Craft mandalas with themes close to your
                                                    heart.
                                                </li>
                                                <li>
                                                    Meditative Creation: Experience the meditative and mindful aspect of
                                                    mandala art.
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="art-btns-mandala">
                                            <div class="buttons-container mb-4">
                                                <button class="button-arounder"><a href="#">
                                                        One
                                                        Day Workshop</a></button>
                                            </div>
                                            <div class="buttons-container mb-4">
                                                <button class="button-arounder"><a href="#">40
                                                        Hours Workshop</a></button>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="bottle-mandala-art">
                                <div class="mandala-art-header">
                                    <h3 class="p-4">Bottle Painting Workshop:</h1>
                                        <div class="mandala-art-list ms-1">
                                            <ol>
                                                <li>
                                                    Transforming Glass: Discover the art of transforming plain bottles
                                                    into vibrant artworks.
                                                </li>
                                                <li>
                                                    Painting Techniques: Master techniques like layering, blending, and
                                                    detailing.
                                                </li>
                                                <li>
                                                    Design Aesthetics: Explore themes and designs that suit bottle
                                                    canvases.
                                                </li>
                                                <li>
                                                    Light and Shadow: Learn to play with light and shadow for a dynamic
                                                    effect.
                                                </li>
                                                <li>
                                                    Functional Art: Create stunning painted bottles that can be used as
                                                    decor or gifts.
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="art-btns-mandala">
                                            <div class="buttons-container mb-4">
                                                <button class="button-arounder"><a href="">
                                                        One
                                                        Day Workshop</a></button>
                                            </div>
                                            <div class="buttons-container mb-4">
                                                <button class="button-arounder"><a href="">40
                                                        Hours Workshop</a></button>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="doodle-mandala-art">
                                <div class="mandala-art-header">
                                    <h3 class="p-4">Doodle Art Workshop:</h1>
                                        <div class="mandala-art-list ms-1">
                                            <ol>
                                                <li>
                                                    Master the Basics: Learn fundamental doodle patterns and techniques.
                                                </li>
                                                <li>
                                                    Unlock Your Creativity: Create personalized and intricate doodle
                                                    designs.
                                                </li>
                                                <li>
                                                    Integrate Words and Symbols: Seamlessly blend words and quotes into
                                                    your doodles.
                                                </li>
                                                <li>
                                                    Explore Themes: Infuse your doodles with emotions, nature, and more.
                                                </li>
                                                <li>
                                                    Doodle Challenges: Overcome creative blocks through exhilarating
                                                    challenges.
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="art-btns-mandala">
                                            <div class="buttons-container mb-4">
                                                <button class="button-arounder"><a href="">
                                                        One
                                                        Day Workshop</a></button>
                                            </div>
                                            <div class="buttons-container mb-4">
                                                <button class="button-arounder"><a href="">40
                                                        Hours Workshop</a></button>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-img-got">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="rectangle-44 p-5">
                        <span class="got-tittle">❓ Got Questions?</span>
                        <div class="content-div mt-4 p-4">

                            <div class="col-6 got-text">
                                <span class="got-tittle">🤔 Who are these workshops for?
                                </span>
                                <p class="got-para">
                                    Our workshops are designed to welcome all art enthusiasts, regardless of their skill
                                    levels. Whether you&#039;re a curious beginner or an experienced artist,
                                    there&#039;s something for everyone.
                                </p>
                            </div>
                            <div class="col-6 got-text">
                                <span class="got-tittle">🤔 What materials do I need?
                                </span>
                                <p class="got-para">
                                    We provide tailored art kits for each workshop, containing everything you need. Just
                                    bring your eagerness to learn and your creative spirit!

                                </p>
                            </div>
                        </div>
                        <div class="content-div p-4">
                            <div class="col-6 got-text">
                                <span class="got-tittle">🤔 Can I attend multiple workshops?
                                </span>
                                <p class="got-para">
                                    Absolutely! Each workshop offers a unique and enriching experience. Feel free to
                                    join one or more that resonate with your artistic interests.
                                </p>
                            </div>
                            <div class="col-6 got-text">
                                <span class="got-tittle">🤔 How do I enroll in the workshops?
                                </span>
                                <p class="got-para">
                                    Visit our website, head to the workshop page, and follow the easy registration
                                    steps. Your artistic journey begins with just a few clicks!
                                </p>
                            </div>
                        </div>
                        <div class="col-12 rec-got mt-4">
                            <div class="rectangle-45">
                                <span class="contact-got">Got more Questions - pls contact us</span>
                            </div>

                        </div>
                        <div class="col-12 rec-got">
                            <div class="rectangle mt-4">
                                <div class="unleash-your-got">
                                    Unleash your creative potential through our Doodle, Mandala, and Bottle Painting
                                    Workshops.
                                    <br />Join us and experience the joy of bringing imagination to life on canvas and
                                    glass! 🎨🖋️🌈
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="container-fluid beni-bg-img">
        <div class="container">
            <div class="row">
                <div class="rec-benifits col-12 mt-4" id="benifits-box">
                    <div class="rectangle-44 p-5">
                        <div class="got-text">
                            <div class="got-tittle">Workshop Benefits</div>
                            <p class="got-para">Immerse yourself in a world of boundless creativity and personal growth
                                through our immersive workshops. Explore the profound benefits awaiting you in each
                                artistic journey:
                            </p>
                        </div>
                        <div class="row">
                            <!-- <div class="benifits-contents "> -->
                            <div class="col-6">
                                <div class="got-tittle">
                                    Unleash Creative Genius
                                </div>
                                <p class="got-para">
                                    Dive into the realms of mandala, doodle, and bottle art, awakening new dimensions of
                                    self-expression and innovative thinking.
                                </p>
                            </div>
                            <div class="col-6 headrt-val">
                                <div class="got-tittle">
                                    Forge Creative Bonds
                                </div>
                                <p class="got-para">
                                    Join an embracing art community, connecting with fellow creatives who share your
                                    passion, sparking collaborations and lasting friendships.
                                </p>
                            </div>
                            <!-- </div> -->
                            <!-- <div class="benifits-contents"> -->
                            <div class="col-6">
                                <div class="got-tittle">
                                    Elevate Serenity
                                </div>
                                <p class="got-para">
                                    Delve into the art of crafting intricate designs, discovering a sanctuary of
                                    tranquility that dissipates stress and invites serenity.
                                </p>
                            </div>
                            <div class="col-6 headrt-val">
                                <div class="got-tittle">
                                    Cultivate Innovation
                                </div>
                                <p class="got-para">
                                    Immerse yourself in the creative process, cultivating innovative thinking that
                                    bridges the realms of art and problem-solving.
                                </p>
                            </div>
                            <!-- </div> -->

                            <!-- <div class="benifits-contents"> -->
                            <div class="col-6">
                                <div class="got-tittle">
                                    Artistry Amplified
                                </div>
                                <p class="got-para">
                                    Elevate your artistic prowess through hands-on learning, mastering techniques that
                                    transform your visions into captivating masterpieces.
                                </p>
                            </div>
                            <div class="col-6 headrt-val">
                                <div class="got-tittle">
                                    Embrace Emotional Harmony
                                </div>
                                <p class="got-para">
                                    Embrace art as a conduit for emotion, harnessing colors and forms to express
                                    feelings, promote well-being, and find emotional balance.
                                </p>
                            </div>
                            <div class="col-6">
                                <div class="got-tittle">
                                    Unleash Creative Genius
                                </div>
                                <p class="got-para">
                                    Dive into the realms of mandala, doodle, and bottle art, awakening new dimensions of
                                    self-expression and innovative thinking.
                                </p>
                            </div>
                            <div class="col-6 headrt-val">
                                <div class="got-tittle">
                                    Forge Creative Bonds
                                </div>
                                <p class="got-para">
                                    Join an embracing art community, connecting with fellow creatives who share your
                                    passion, sparking collaborations and lasting friendships.
                                </p>
                            </div>
                            <!-- </div> -->
                            <!-- <div class="benifits-contents"> -->
                            <div class="col-6">
                                <div class="got-tittle">
                                    Elevate Serenity
                                </div>
                                <p class="got-para">
                                    Delve into the art of crafting intricate designs, discovering a sanctuary of
                                    tranquility that dissipates stress and invites serenity.
                                </p>
                            </div>
                            <div class="col-6 headrt-val">
                                <div class="got-tittle">
                                    Cultivate Innovation
                                </div>
                                <p class="got-para">
                                    Immerse yourself in the creative process, cultivating innovative thinking that
                                    bridges the realms of art and problem-solving.
                                </p>
                            </div>
                            <!-- </div> -->

                            <!-- <div class="benifits-contents"> -->
                            <div class="col-6">
                                <div class="got-tittle">
                                    Artistry Amplified
                                </div>
                                <p class="got-para">
                                    Elevate your artistic prowess through hands-on learning, mastering techniques that
                                    transform your visions into captivating masterpieces.
                                </p>
                            </div>
                            <div class="col-6 headrt-val">
                                <div class="got-tittle">
                                    Embrace Emotional Harmony
                                </div>
                                <p class="got-para">
                                    Embrace art as a conduit for emotion, harnessing colors and forms to express
                                    feelings, promote well-being, and find emotional balance.
                                </p>
                            </div>
                            <div class="col-6">
                                <div class="got-tittle">
                                    Unleash Creative Genius
                                </div>
                                <p class="got-para">
                                    Dive into the realms of mandala, doodle, and bottle art, awakening new dimensions of
                                    self-expression and innovative thinking.
                                </p>
                            </div>
                            <div class="col-6 headrt-val">
                                <div class="got-tittle">
                                    Forge Creative Bonds
                                </div>
                                <p class="got-para">
                                    Join an embracing art community, connecting with fellow creatives who share your
                                    passion, sparking collaborations and lasting friendships.
                                </p>
                            </div>
                            <!-- </div> -->
                            <!-- <div class="benifits-contents"> -->
                            <div class="col-6">
                                <div class="got-tittle">
                                    Elevate Serenity
                                </div>
                                <p class="got-para">
                                    Delve into the art of crafting intricate designs, discovering a sanctuary of
                                    tranquility that dissipates stress and invites serenity.
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="mt-4">
                                    <p class="ready-to-embark">Ready to embark on a transformative artistic odyssey?
                                        Join our workshops and let your creativity flourish in the company of kindred
                                        spirits.
                                    </p>
                                </div>

                            </div>

                            <!-- </div> -->
                        </div>

                    </div>

                </div>


            </div>

        </div>

    </div>
    <div class="container">
        <div class="container centered-container mt-4 mb-4">
            <div class="photos-collection">
                <div class="col-6">
                    <div class="photo-grid" data-simplebar>
                        <!-- Add photos here -->
                        <img class="images" id="dynamic-image" src="./images/IMG-0753-removebg-preview.png"
                            alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/whyus-2.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/loading-img-3.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                        <img class="images" id="dynamic-image" src="./images/homeart.png" alt="Dynamic Image">
                    </div>
                </div>
                <div class="col-6">
                    <div class="photos-collection-right">
                        <img class="photos-collection-image" src="./images/homeart.png" id="selected-image"
                            alt="Dynamic Image">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container wrkshop-bg mt-4 mb-4 p-3">
            <div id="preview"></div>
        </div> -->

    </div>
    <div class="footer">
        <div id="footer"></div>
    </div>


    <script src="./js/jQuery/jquery.3.7.0.js"></script>
    <script src="./js/common.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="./js/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="./js/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            // Show the loading screen
            $("#loading-screen").show();

            // Function to hide the loading screen
            function hideLoadingScreen() {
                $("#loading-screen").hide();
            }

            // Load content
            $("#header-file").load("header.html");
            $("#preview").load("preview.html", function () {
                $(".our-work-tittle").hide();
                hideLoadingScreen(); // Call the function to hide the loading screen
            });
            $("#footer").load("footer.html");

            // Hide the loading screen when the page is fully loaded
            $(window).on("load", function () {
                hideLoadingScreen();
            });
        });
    </script>
</body>

</html>