<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/workshop.css">
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Metal+Mania&family=Kalam&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/stylesheet" src="/public/resources/js/bootstrap/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="workshop">
        <div class="div">
            <div class="overlap">
                <img class="rectangle" src="images/rectangle.png" />
                <div class="text-wrapper">❓ Got Questions?</div>

                <!--background images-->

                <img class="malcolm-lightbody" src="images/malcolm-lightbody-uaImQdTvPSY-unsplash.jpg" />
                <!--background image of frame 1-->
                <img class="katarzyna-pypla" src="images/katarzyna-pypla-ABmwVK84jQ4-unsplash.jpg" />
                <img class="den-harrson" src="images/den-harrson-PEttJRISq1w-unsplash.jpg" />
                <img class="element" src="images/1amfcs-zFISpXr8GUg-unsplash.jpg" />
                <img class="linda-xu" src="images/linda-xu-7pq_V5KGHCc-unsplash.jpg" />
                <img class="andreas-fickl" src="images/andreas-fickl-p2THPD5m0d8-unsplash.jpg" />
                <img class="alexander-ant" src="images/alexander-ant-VotSVvmJSic-unsplash.jpg" />
                <div class="rectangle-2"></div>

                <!--first collage-->
                <div class="first-collage">
                    <div class="overlap-group">
                        <img class="dan-cristian-padure" src="images/dan-cristian-padure-OoVRrZMbDgE-unsplash.jpg" />
                        <img class="den-harrson1" src="images/den-harrson-PEttJRISq1w-unsplash.jpg" />
                        <img class="katarzyna-pypla-2" src="images/katarzyna-pypla-ABmwVK84jQ4-unsplash.jpg" />
                        <img class="swati-h-das" src="images/swati-h-das-PEwRuAaYRZw-unsplash (1).jpg" />
                        <img class="customerbox" src="images/customerbox-O6qSPPWezLI-unsplash.jpg" />
                        <img class="element-amfcs-zfispxrgug" src="images/1amfcs-zFISpXr8GUg-unsplash.jpg" />
                        <div class="rectangle-3"></div>
                        <p class="unleash-your">
                            🎨 Unleash Your Creative Expression: <br />Doodle, Mandala, and Bottle Painting Workshops!
                            🖋️🌈🎨
                        </p>
                    </div>
                </div>

                <!--frame 1 workshop updates-->
                <div class="frametwo">

                    <img class="element-bf-ecc" src="images/7846B4F1-5ECC-4987-AAA5-66643E628898.JPG" />
                    <img class="element-2" src="images/7846B4F1-5ECC-4987-AAA5-66643E628898.JPG" />
                    <div class="frame">
                        <div class="upcoming-workshop-wrapper">
                            <p class="upcoming-workshop">upcoming workshop details<br />will be updated regularly</p>
                        </div>

                    </div>
                    <img class="swati-h-das-2" src="images/swati-h-das-FzyhtbfnZ_s-unsplash.jpg" />

                </div>

                <!--frame 2 slide 1-->

                <div class="workshop-into">
                    <div class="element-wrapper">
                        <img class="element-3" src="images/1592108168723.jpg" />
                    </div>
                    <div class="welcome-to-workshop">
                        <div class="overlap-group-7">
                            <p class="text-wrapper-39">
                                Welcome to our immersive workshops, where your artistic journey begins! 🌟
                            </p>
                        </div>
                    </div>

                    <img class="swati-h-das-3" src="images/swati-h-das-NYw5b5pNio4-unsplash.jpg" />
                    <div class="overlap-19">
                        <div class="frame-8">
                            <div class="overlap-20">

                                <img class="swati-h-das-4" src="images/swati-h-das-z8PyyG6o9fA-unsplash.jpg" />

                                <p class="text-wrapper-41">🎉 What Workshops Are These?</p>
                                <p class="discover-the">
                                    Discover the captivating worlds of doodle art, mandala art, and bottle painting
                                    through our engaging and enlightening workshops. Whether you&#39;re a seasoned
                                    artist or just starting, these workshops are designed to nurture your creativity and
                                    ignite
                                    your passion for art.
                                </p>

                                <p class="text-wrapper-40">📍 Where Will They Take Place?</p>
                                <p class="text-wrapper-42">
                                    Our workshops are tailored to your preference. Choose to join us online,
                                    participating from the comfort of your home, or engage in-person to immerse yourself
                                    in a hands-on creative experience.
                                </p>
                            </div>
                        </div>
                        <img class="r" src="images/R.jpeg" />
                        <div class="arrow-button">
                            <img class="icon-arrow-circle" src="images/icon-arrow-circle-left.png" />
                            <img class="icon-arrow-circle-2" src="images/icon-arrow-circle-right.png" />
                        </div>
                    </div>
                    <img class="swati-h-das-5" src="images/swati-h-das-LirdKxOXi40-unsplash.jpg" />
                </div>


                <div class="got-questions">
                    <div class="overlap-2">
                        <p class="p">
                            Unleash your creative potential through our Doodle, Mandala, and Bottle Painting Workshops.
                            <br />Join us and experience the joy of bringing imagination to life on canvas and glass!
                            🎨🖋️🌈
                        </p>
                        <div class="text">
                            <p class="text-wrapper-2">🤔 How do I enroll in the workshops?</p>
                            <p class="text-wrapper-3">
                                Visit our website, head to the workshop page, and follow the easy registration steps.
                                Your artistic journey begins with just a few clicks!
                            </p>
                        </div>
                        <div class="text-2">
                            <p class="text-wrapper-4">
                                Absolutely! Each workshop offers a unique and enriching experience. Feel free to join
                                one or more that resonate with your artistic interests.
                            </p>
                            <p class="text-wrapper-5">🤔 Can I attend multiple workshops?</p>
                        </div>
                        <div class="text-3">
                            <p class="text-wrapper-6">
                                We provide tailored art kits for each workshop, containing everything you need. Just
                                bring your eagerness to learn and your creative spirit!
                            </p>
                            <p class="text-wrapper-2">🤔 What materials do I need?</p>
                        </div>


                        <div class="text-4">
                            <p class="text-wrapper-7">
                                Our workshops are designed to welcome all art enthusiasts, regardless of their skill
                                levels. Whether you&#39;re a curious beginner or an experienced artist, there&#39;s
                                something for everyone.
                            </p>
                            <p class="text-wrapper-8">🤔 Who are these workshops for?</p>
                        </div>
                        <div class="text-wrapper-9">❓ Got Questions?</div>
                    </div>
                </div>

                <div class="art-category">
                    <div class="overlap-3">
                        <div class="div-2">
                            <div class="overlap-4">
                                <div class="frame-2"></div>
                                <div class="overlap-group-wrapper">
                                    <div class="overlap-group-2">
                                        <div class="rectangle-4"></div>
                                        <div class="text-wrapper-10">mandala art</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="div-2">
                            <div class="frame-3"></div>
                            <div class="div-wrapper">
                                <div class="overlap-group-3">
                                    <div class="rectangle-5"></div>
                                    <div class="text-wrapper-11">Bottle painting</div>
                                </div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="overlap-4">
                                <div class="frame-4">
                                    <div class="text-wrapper-12">Doodle Art Workshop:</div>
                                    <div class="personalizes-msg">
                                        <div class="overlap-5">
                                            <div class="send-email-card">
                                                <div class="overlap-group-4">
                                                    <p class="if-you-dont-like-to">
                                                        if you dont like to share your contact number<br />pleaseSend us
                                                        an personalised email to us
                                                    </p>
                                                    <div class="overlap-6">
                                                        <div class="text-wrapper-13">Enter your email here</div>
                                                        <div class="text-wrapper-14">from</div>
                                                    </div>
                                                    <div class="overlap-7">
                                                        <div class="text-wrapper-15">Circhealstudio@gmail.com</div>
                                                        <div class="text-wrapper-16">To</div>
                                                    </div>
                                                    <div class="overlap-8">
                                                        <div class="rectangle-6"></div>
                                                        <div class="text-wrapper-17">doodle art</div>
                                                        <div class="rectangle-7"></div>
                                                        <p class="text-wrapper-18">Please add your message here</p>
                                                        <div class="text-wrapper-19">Interested</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="send-us-button">
                                                <div class="frame-5">
                                                    <div class="text-wrapper-20">Send us</div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="price-for-one-day">
                                            Price For one day workshop - <br />depends on the city and Time<br />please
                                            contact us for more information
                                        </p>
                                        <div class="whatspp-link">
                                            <p class="text-wrapper-21">Please click the icon to connect with us in
                                                WhatsApp
                                            </p>
                                            <img class="whatsapp" src="images/whatsapp-1.png" />
                                            <div class="overlap-9">
                                                <div class="text-wrapper-22">+91 9789318307</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="one-day-workshop">
                                        <div class="text-wrapper-23">One day workshop</div>
                                    </div>
                                    <div class="element-hours">
                                        <div class="text-wrapper-24">40 Hours Courses</div>
                                    </div>
                                    <p class="master-the-basics">
                                        Master the Basics: Learn fundamental doodle patterns and techniques.<br />Unlock
                                        Your Creativity: Create personalized and intricate doodle designs.
                                        <br />Integrate Words and Symbols: Seamlessly blend words and quotes into your
                                        doodles.
                                        <br />Explore Themes: Infuse your doodles with emotions, nature, and more.
                                        <br />Doodle Challenges: Overcome creative blocks through exhilarating
                                        challenges.
                                    </p>
                                </div>
                                <div class="overlap-wrapper">
                                    <div class="overlap-10">
                                        <div class="text-wrapper-25">Doodle</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personalizes-msg-2">
                        <div class="overlap-11">
                            <div class="send-email-card">
                                <div class="overlap-group-4">
                                    <p class="if-you-dont-like-to">
                                        if you dont like to share your contact number<br />pleaseSend us an personalised
                                        email to us
                                    </p>
                                    <div class="overlap-6">
                                        <div class="text-wrapper-13">Enter your email here</div>
                                        <div class="text-wrapper-14">from</div>
                                    </div>
                                    <div class="overlap-7">
                                        <div class="text-wrapper-15">Circhealstudio@gmail.com</div>
                                        <div class="text-wrapper-16">To</div>
                                    </div>
                                    <div class="overlap-8">
                                        <div class="rectangle-6"></div>
                                        <div class="text-wrapper-17">doodle art</div>
                                        <div class="rectangle-7"></div>
                                        <p class="text-wrapper-18">Please add your message here</p>
                                        <div class="text-wrapper-19">Interested</div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-wrapper">
                                <div class="frame-5">
                                    <div class="text-wrapper-20">Send us</div>
                                </div>
                            </div>
                        </div>
                        <p class="price-for-one-day-2">
                            Price For one day workshop - <br />depends on the city and Time<br />please contact us for
                            more information
                        </p>
                        <div class="whatspp-link-2">
                            <p class="text-wrapper-21">Please click the icon to connect with us in WhatsApp</p>
                            <img class="whatsapp-2" src="images/whatsapp-1-3.png" />
                            <div class="overlap-9">
                                <div class="text-wrapper-22">+91 9789318307</div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-6">
                        <div class="send-email-card-2">
                            <div class="overlap-12">
                                <p class="if-you-don-t-like-to">
                                    if you don't like to share your contact number<br />please Send us an personalised
                                    email to us
                                </p>
                                <div class="overlap-13">
                                    <div class="text-box">
                                        <div class="overlap-group-5">
                                            <p class="text-wrapper-26">Please add your message here</p>
                                        </div>
                                    </div>
                                    <div class="place">
                                        <div class="overlap-14">
                                            <div class="rectangle-6"></div>
                                            <div class="text-wrapper-27">choose a location</div>
                                            <div class="text-wrapper-28">Preffered place</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="from">
                                    <div class="overlap-15">
                                        <div class="text-wrapper-29">Enter your email here</div>
                                        <div class="text-wrapper-30">from</div>
                                    </div>
                                </div>
                                <div class="to">
                                    <div class="overlap-16">
                                        <div class="text-wrapper-31">Circhealstudio@gmail.com</div>
                                        <div class="text-wrapper-32">To</div>
                                    </div>
                                </div>
                                <div class="interested">
                                    <div class="overlap-17">
                                        <p class="text-wrapper-33">doodle art- 40 hours classt</p>
                                        <div class="text-wrapper-34">Interested</div>
                                    </div>
                                </div>
                                <button class="button">
                                    <div class="frame-5">
                                        <div class="send-us">Send</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="whatspp-link-3">
                            <p class="text-wrapper-35">Please click the icon to connect with us in WhatsApp</p>
                            <img class="whatsapp-3" src="images/whatsapp-1-2.png" />
                            <div class="overlap-18">
                                <div class="text-wrapper-22">+91 9789318307</div>
                            </div>
                        </div>
                        <div class="personalizes-msg">
                            <div class="overlap-5">
                                <div class="send-email-card">
                                    <div class="overlap-group-4">
                                        <p class="if-you-dont-like-to">
                                            if you dont like to share your contact number<br />pleaseSend us an
                                            personalised email to us
                                        </p>
                                        <div class="overlap-6">
                                            <div class="text-wrapper-13">Enter your email here</div>
                                            <div class="text-wrapper-14">from</div>
                                        </div>
                                        <div class="overlap-7">
                                            <div class="text-wrapper-15">Circhealstudio@gmail.com</div>
                                            <div class="text-wrapper-16">To</div>
                                        </div>
                                        <div class="overlap-8">
                                            <div class="rectangle-6"></div>
                                            <div class="text-wrapper-17">doodle art</div>
                                            <div class="rectangle-7"></div>
                                            <p class="text-wrapper-18">Please add your message here</p>
                                            <div class="text-wrapper-19">Interested</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="send-us-button">
                                    <div class="frame-5">
                                        <div class="text-wrapper-20">Send us</div>
                                    </div>
                                </div>
                            </div>
                            <p class="price-for-one-day">
                                Price For one day workshop - <br />depends on the city and Time<br />please contact us
                                for more information
                            </p>
                            <div class="whatspp-link">
                                <p class="text-wrapper-21">Please click the icon to connect with us in WhatsApp</p>
                                <img class="whatsapp-4" src="images/image.png" />
                                <div class="overlap-9">
                                    <div class="text-wrapper-22">+91 9789318307</div>
                                </div>
                            </div>
                        </div>
                        <div class="one-day-workshop-2">
                            <div class="text-wrapper-36">One day workshop</div>
                        </div>
                        <div class="one-day-workshop-3">
                            <div class="text-wrapper-37">40 Hours courses</div>
                        </div>
                        <p class="this-workshop-will">
                            This workshop will be Scheduled&nbsp;&nbsp;and planned on your requested time and date
                            <br /><br />please contact us for more information
                        </p>
                    </div>
                </div>
                <div class="frame-7"></div>

                <div class="got-more-questions">
                    <div class="more-question-button">
                        <div class="overlap-group-6">
                            <p class="text-wrapper-38">Got more Questions - pls contact us</p>
                        </div>
                    </div>
                </div>




                <!--frame 3 slide 2-->


                <header class="header">
                    <div class="frame-9">
                        <div class="overlap-group-8">
                            <div class="text-wrapper-43">CircHeal Studio</div>
                            <img class="circ-heal-studio" src="images/Circ_Heal_Studio_Log_preview.png" />
                        </div>
                        <div class="nav-bar-wrapper">
                            <div class="nav-bar">
                                <!-- <img class="image" src="images/image-1.png" /> -->
                                <div class="text-wrapper-44">Home</div>
                                <div class="text-wrapper-44">Why us?</div>
                                <div class="text-wrapper-44">Our work</div>
                                <div class="text-wrapper-44">Workshop</div>
                                <div class="text-wrapper-45">Shop</div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="join-us">
                    <div class="overlap-21">
                        <div class="text-wrapper-46">Join Us</div>
                    </div>
                </div>

                <div class="benifits">
                    <p class="text-wrapper-47">
                        Ready to embark on a transformative artistic odyssey? Join our workshops and let your creativity
                        flourish in the company of kindred spirits.
                    </p>
                    <div class="text-5">
                        <p class="text-wrapper-7">
                            🎨 Dive into the realms of mandala, doodle, and bottle art, awakening new dimensions of
                            self-expression and innovative thinking.
                        </p>
                        <div class="text-wrapper-48">Unleash Creative Genius</div>
                    </div>
                    <div class="text-6">
                        <p class="text-wrapper-7">
                            🎉 Experience the exhilaration of metamorphosing a blank canvas into a vivid masterpiece,
                            feeling the pulse of creation with every stroke.
                        </p>
                        <div class="text-wrapper-48">Thrill of Creation</div>
                    </div>
                    <div class="text-7">
                        <p class="text-wrapper-7">
                            🌟 Uncover inspiration in the mundane, breathing life into everyday experiences by
                            translating them into vibrant, imaginative artworks.
                        </p>
                        <div class="text-wrapper-48">Inspiration Unveiled</div>
                    </div>
                    <div class="text-8">
                        <p class="text-wrapper-7">
                            💪 Witness your confidence flourish as you transform simple lines into intricate artworks,
                            realizing the hidden potential of your creative spirit.
                        </p>
                        <div class="text-wrapper-48">Radiate Confidence</div>
                    </div>
                    <div class="text-9">
                        <p class="text-wrapper-7">
                            🎁 Depart with handcrafted treasures that encapsulate your artistic journey, ready to grace
                            your spaces or bring joy to those you care about.
                        </p>
                        <div class="text-wrapper-48">Artful Keepsakes</div>
                    </div>
                    <div class="text-10">
                        <p class="text-wrapper-7">
                            🌱 Immerse yourself in an experience that nurtures not just your artistic side but your
                            entire being, fostering holistic growth and well-being.
                        </p>
                        <div class="text-wrapper-48">Holistic Growth</div>
                    </div>
                    <div class="text-11">
                        <p class="text-wrapper-7">
                            🌿 Delve into the art of crafting intricate designs, discovering a sanctuary of tranquility
                            that dissipates stress and invites serenity.
                        </p>
                        <div class="text-wrapper-48">Elevate Serenity</div>
                    </div>
                    <div class="text-12">
                        <p class="text-wrapper-7">
                            🖌️ Elevate your artistic prowess through hands-on learning, mastering techniques that
                            transform your visions into captivating masterpieces.
                        </p>
                        <div class="text-wrapper-48">Artistry Amplified</div>
                    </div>
                    <div class="text-13">
                        <p class="text-wrapper-49">
                            🧘 Immerse yourself in the canvas, where each stroke becomes a meditative journey that
                            sharpens focus and nurtures mindfulness.
                        </p>
                        <div class="text-wrapper-48">Meditative Focus</div>
                    </div>
                    <div class="text-14">
                        <p class="text-wrapper-7">
                            ✨ Infuse your creations with your unique essence, fashioning artworks that echo your
                            personality, emotions, and individuality.
                        </p>
                        <div class="text-wrapper-48">Art That Echoes You</div>
                    </div>
                    <div class="text-15">
                        <p class="text-wrapper-7">
                            🤝 Join an embracing art community, connecting with fellow creatives who share your passion,
                            sparking collaborations and lasting friendships.
                        </p>
                        <div class="text-wrapper-48">Forge Creative Bonds</div>
                    </div>
                    <div class="text-16">
                        <p class="text-wrapper-7">
                            🔍 Immerse yourself in the creative process, cultivating innovative thinking that bridges
                            the realms of art and problem-solving.
                        </p>
                        <div class="text-wrapper-48">Cultivate Innovation</div>
                    </div>
                    <div class="text-17">
                        <p class="text-wrapper-7">
                            🌈 Embrace art as a conduit for emotion, harnessing colors and forms to express feelings,
                            promote well-being, and find emotional balance.
                        </p>
                        <div class="text-wrapper-48">Embrace Emotional Harmony</div>
                    </div>
                    <div class="text-18">
                        <p class="text-wrapper-7">
                            🎓 Immerse yourself in dynamic activities, from hands-on sessions to live demos and
                            thought-provoking discussions that enrich your artistic journey.
                        </p>
                        <div class="text-wrapper-48">Interactive Artistry</div>
                    </div>
                    <div class="text-19">
                        <p class="text-wrapper-7">
                            ☕ Weave art into your daily routine, creating a personal sanctuary of self-care that fuels
                            creativity and nurtures your soul.
                        </p>
                        <div class="text-wrapper-48">Art as Daily Ritual</div>
                    </div>
                    <p class="text-wrapper-50">
                        Immerse yourself in a world of boundless creativity and personal growth through our immersive
                        workshops. Explore the profound benefits awaiting you in each artistic journey:
                    </p>
                    <div class="text-wrapper-51">Workshop Benefits</div>
                </div>
                <footer class="footer">
                    <div class="overlap-22">
                        <div class="background"></div>
                        <img class="wave" src="images/wave-3.svg" />
                        <div class="ellipse"></div>
                        <img class="vector" src="images/vector-69.svg" />
                        <img class="vector-2" src="images/vector-68.svg" />
                        <img class="vector-3" src="images/vector-74.svg" />
                        <img class="vector-4" src="images/vector-73.svg" />
                        <img class="vector-5" src="images/vector-67.svg" />
                        <img class="vector-6" src="images/vector-70.svg" />
                    </div>
                </footer>
                <div class="preview-with-scroll">
                    <div class="small-icon-view">
                        <div class="pic"><img class="IMG-removebg" src="images/IMG-0753-removebg-preview-1.png" /></div>
                        <div class="pic"><img class="img-2" src="images/untitled-artwork-2-1.png" /></div>
                        <div class="IMG-wrapper"><img class="img-2" src="images/IMG-0747-1.png" /></div>
                        <div class="img-wrapper"><img class="img-3" src="images/IMG-0745-1.png" /></div>
                        <div class="img-wrapper"><img class="img-3" src="images/IMG-0012-1.png" /></div>
                        <div class="pic-2"><img class="img-3" src="images/IMG-0011-removebg-preview-2.png" /></div>
                        <div class="img-wrapper"><img class="img-3" src="images/IMG-0752-1.png" /></div>
                        <div class="pic-2"><img class="img-3" src="images/5ebeabd2-8e1f-439b-a10c-f37cf4d062ea-1.png" />
                        </div>
                        <div class="img-wrapper"><img class="img-3" src="images/untitled-artwork-11-1.png" /></div>
                        <div class="img-wrapper"><img class="untitled" src="images/untitled-artwork1-1.png" /></div>
                        <div class="img-wrapper">
                            <img class="untitled-artwork" src="images/untitled-artwork-removebg-preview-2.png" />
                        </div>
                        <div class="pic-2"><img class="IMG-removebg-2" src="images/IMG-0011-removebg-preview-3.png" />
                        </div>
                        <div class="img-wrapper"><img class="IMG" src="images/IMG-0754-1.png" /></div>
                        <div class="img-wrapper"><img class="IMG-2" src="images/IMG-0013-1.png" /></div>
                        <div class="img-wrapper"><img class="IMG-3" src="images/IMG-0023-1.png" /></div>
                    </div>
                    <div class="scroll-bar">
                        <div class="rectangle-8"></div>
                        <img class="icon-nav-arrow-down" src="images/icon-nav-arrow-down.png" />
                        <img class="icon-nav-arrow-down-2" src="images/icon-nav-arrow-down-2.png" />
                    </div>
                </div>
                <div class="text-wrapper-52">Workshop Gallery</div>
            </div>
            <div class="imgae-zoom">
                <img class="dafb-af-d" src="images/daf0b483-6a7f-49d4-9880-540809a8fee3-removebg-preview-1.png" />
            </div>
            <img class="image-2" src="images/image-6483441-removebg-preview-1.png" />
            <p class="unleash-creativity">Unleash <br />Creativity , heal <br />with #Art</p>
            <div class="overlap-23">
                <div class="buttons">
                    <div class="button-lear-more">
                        <div class="overlap-group-9">
                            <div class="text-wrapper-53">Learn more..</div>
                        </div>
                    </div>
                    <button class="button-signup">
                        <div class="overlap-24">
                            <div class="text-wrapper-54">Sign up</div>
                        </div>
                    </button>
                </div>
                <div class="text-20">
                    <div class="welcome-to-circheal-wrapper">
                        <p class="welcome-to-circheal">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#34;Welcome
                            to Circheal, where the mesmerizing world of mandala art and playful doodles come together to
                            ignite creativity and inspire connections. With a
                            passion for intricate designs and boundless imagination,
                            <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we
                            offer a range of immersive workshops, classes, and captivating artwork that celebrate the
                            beauty of
                            circles and lines.Our artistic journey is fueled by a dedication to crafting meaningful
                            experiences.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-wrapper-55">CircHeal Studio</div>
            <div class="join-us-2">
                <div class="overlap-25">
                    <div class="text-wrapper-46">Join Us</div>
                </div>
            </div>
            <div class="form">
                <div class="contact-us-form">
                    <div class="text-wrapper-56">Contact us:</div>
                    <div class="first-name">
                        <p class="div-3"><span class="span">First name </span> <span class="text-wrapper-57">*</span>
                        </p>
                        <div class="rectangle-9"></div>
                    </div>
                    <div class="middle-name">
                        <div class="text-wrapper-58">middle name</div>
                        <div class="rectangle-10"></div>
                    </div>
                    <div class="last-name">
                        <p class="div-3"><span class="span">Last name </span> <span class="text-wrapper-57">*</span></p>
                        <div class="rectangle-11"></div>
                    </div>
                    <div class="overlap-group-10">
                        <div class="email">
                            <p class="div-3"><span class="span">Email </span> <span class="text-wrapper-57">*</span></p>
                            <div class="rectangle-12"></div>
                        </div>
                        <div class="mobile">
                            <div class="text-wrapper-59">mobile</div>
                            <div class="rectangle-13"></div>
                            <p class="text-wrapper-60">
                                mobile number is not mandatory but, Please add an active mobile number to get faster
                                response.
                            </p>
                        </div>
                    </div>
                    <div class="message">
                        <p class="message-2"><span class="span">Message </span> <span class="text-wrapper-61">*</span>
                        </p>
                        <div class="rectangle-14"></div>
                    </div>
                    <p class="text-wrapper-62">feel free to add a message, We will try to reply asap..</p>
                    <p class="text-wrapper-63">
                        mandatory fields are represented by a (*) next to it, you cannot leave them empty.
                    </p>
                    <div class="send-us-button-2">
                        <div class="frame-5">
                            <div class="text-wrapper-20">Send us</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlap-26">
                <div class="email-send">
                    <img class="dfsd" src="images/dfsd-1.png" />
                    <p class="email-send-2">Email Send successfully .. <br />You will get a response ASAP</p>
                    <div class="rectangle-15"></div>
                    <img class="icon-plus" src="images/icon-plus.png" />
                </div>
                <div class="text-21">
                    <div class="component"></div>
                    <p class="explore-the-fusion">
                        &nbsp;&nbsp;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Explore
                        the fusion of mandala and doodle art, as we guide you through workshops designed to unlock your
                        artistic potential. From the delicate strokes of a pen to the vibrant hues of color, we believe
                        in the power of self-expression and the magic that unfolds within every curve.Join us on this
                        artistic odyssey, where you&#39;ll discover
                        the art of creating beauty from lines, shapes, and colors.
                        <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dive
                        into a world where creativity knows no boundaries, and where each stroke of the pen becomes
                        a gateway to endless possibilities. Let&#39;s create, connect, and draw circles of inspiration
                        together.&#34;
                    </p>
                </div>
            </div>
            <img class="IMG-removebg-3" src="images/IMG-0753-removebg-preview-1-2.png" />
            <button class="back-button">
                <div class="back">
                    <div class="overlap-group-11">
                        <div class="text-wrapper-64">Back</div>
                    </div>
                    <img class="icon-arrow-back" src="images/icon-arrow-back-outline.png" />
                </div>
            </button>
            <button class="next-button">
                <div class="back">
                    <div class="overlap-group-11">
                        <div class="text-wrapper-64">Next</div>
                    </div>
                    <img class="icon-arrow-back-2" src="images/icon-arrow-back-outline-2.png" />
                </div>
            </button>
        </div>
    </div>
    <script src="./js/jQuery/jquery.3.7.0.js"></script>
    <script src="./js/jQuery/jquery-3.3.1.slim.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    <script src="./js/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="./js/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>