@font-face {
    font-family: 'MedievalSharp';
    src: url('./font/MedievalSharp-Regular.ttf') format('truetype');
    /* You can also specify other font formats like woff, woff2 for better browser compatibility */
}

.nav-header {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.header-bg {
    background: #d8dad8;
    border-radius: 20px;
    box-shadow: -5px 8px 8px 0px rgba(0, 0, 0, 0.45);
}

.header-bg-2 {
    background: #d8dad8;
    border-radius: 20px;
}

.media {
    align-items: center;
    display: flex;
    background: #d8dad8;
}

.image-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.madala-head {
    color: #000000;
    text-align: left;
    font: 400 28px "MedievalSharp", sans-serif;
    overflow: hidden;
}

.h-logo {
    max-width: 200px;
}

.media-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-body a {
    text-decoration: none;
}

.circ-heal-studio {
    display: flex;
    align-items: center;
}

.header-img {
    z-index: -22222;
}

.navbar-nav .nav-item .nav-link {
    font-family: "Kalam", sans-serif;
    font-size: 1.2vw;
    color: #000000;
    gap: 30px;
    display: contents;
}

.frame-1 {
    background: #fcf4fa;
    border-radius: 15px;
    width: 1552px;
    height: 155px;
    position: absolute;
    left: calc(50% - 776px);
    top: 56px;
}

.circ-heal-studio-logo-removebg-preview-1 {
    width: 264px;
    height: 324px;
    position: absolute;
    left: 2px;
    top: calc(50% - 115.5px);
    box-shadow: -10px 10px 25px 0px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 768px) {
    /* Your mobile styles here */
    body {
        font-size: 16px;
        /* Adjust font size for mobile view */
    }
    .madala-head {
        display: none;
    }
    /* Example: Adjust the width of a container for mobile */
    .container {
        width: 100%;
        padding: 10px;
    }
}

.navbar-nav .nav-link:hover {
    background-color: #9fa0a2;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
    border-radius: 30px;
}