@font-face {
    font-family: 'MedievalSharp';
    src: url('./font/MedievalSharp-Regular.ttf') format('truetype');
    /* You can also specify other font formats like woff, woff2 for better browser compatibility */
}


/* new */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #9fa0a2;
    padding: 20px 10px;
    border-radius: 25px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    font-family: "Kalam", sans-serif;
    border-radius: 18px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #12a9ea;
    color: black;
}

.header a.active {
    background-color: rgb(20, 122, 225);
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.header a {
    background-color: #9fa0a2;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
    border-radius: 18px;
}

.header .header-right a {
    margin-right: 15px;
    /* Add right margin to create space between links */
}