        /* header box */
        
        .about-us {
            position: relative;
            background-color: #fcf4fa;
            margin-top: 30px;
        }
        
        .about-us::before {
            content: "";
            background-image: url('../images/FLOWER-MOON-MANDALA-removebg-preview.png');
            /* Set your background image URL */
            background-size: 40rem;
            background-position: left top 100px;
            background-attachment: scroll;
            background-repeat: no-repeat;
            opacity: 0.1;
            /* Adjust the opacity value (0.2 = 20%) */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* z-index: -1; */
        }
        
        .our-work-con {
            background-color: #fcf4fa;
            height: 300px;
            display: flex;
            justify-content: center;
        }
        
        .our-work-con::before {
            content: "";
            background-image: url('../images/FLOWER-MOON-MANDALA-removebg-preview.png');
            /* Set your background image URL */
            background-size: 10rem;
            background-position: left top 100px;
            background-attachment: scroll;
            background-repeat: no-repeat;
            opacity: 0.2;
            /* Adjust the opacity value (0.2 = 20%) */
            position: absolute;
            width: 100%;
            height: 100%;
            /* z-index: -1; */
        }
        
        .home-about-us {
            /* background: rgba(129, 121, 121, 0.57); */
            border-width: 1px;
            border-style: solid;
            border-image: linear-gradient( 100.76deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            border-image-slice: 1;
            box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.55);
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #fcf4fa;
        }
        
        .con-bg {
            background-color: bisque;
            /* opacity: ; */
        }
        
        body {
            background-color: #72dcab !important;
            /* opacity: 0.8; */
        }
        
        .welcome-experiences-span {
            color: #000000;
            font-family: "Alice", sans-serif;
            font-size: 2vw;
        }
        
        .welcome-experiences-span2 {
            color: #e42e2e;
            font-family: "Alice", sans-serif;
            font-size: 2vw;
        }
        
        .welcome-experiences-span3 {
            color: #000000;
            font-family: "Alice", sans-serif;
            font-size: 2vw;
        }
        
        .book-ur-slot {
            background: rgba(146, 138, 193, 0.5);
            box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.55);
            z-index: 9999;
        }
        
        .mandala-art-bg {
            background-color: #f60f0f;
        }
        
        .image-container {
            position: relative;
        }
        
        .dynamic-image {
            border-radius: 41px;
            width: 100%;
            height: auto;
        }
        
        .home-about-us-learn-btn {
            margin-top: 30px;
        }
        
        .home-about-us-learn-more-txt {
            color: #000000;
            text-align: left;
            font-family: "Alice", sans-serif;
            font-size: 2vw;
            position: relative;
            text-decoration: none;
            /* header box end */
        }
        
        .dynamic-image {
            /* ilter: drop-shadow(10px 8px 6px black); */
            box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
        }
        
        .photo-grid .col-6 {
            padding: 0 15px;
        }
        
        .photo-grid img {
            max-width: 100%;
            height: 129px;
            width: 181px;
            overflow: auto;
        }
        
        .photos-collection {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 50px;
            gap: 35px;
            background-color: #ffffff;
        }
        
        .photos-collection-image {
            width: 100%;
            height: auto;
        }
        
        .pre-bg {
            background-color: #ffffff;
            border-radius: 20px;
            /* margin-top: 20px; */
            align-items: center;
        }
        
        .photos-collection-right {
            border-radius: 41px;
            flex-shrink: 0;
            box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.75);
            gap: 30px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .images {
            background: #ffffff;
            border-radius: 15px;
            border-width: 5px;
            border-style: solid;
            border-image-slice: 1;
            margin: 10px;
            width: 100%;
            height: auto;
            border: none !important;
            box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.75);
        }
        
        .workshop {
            text-align: center;
            font: 700 22px "Kalam", sans-serif;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 16px;
            text-decoration: none;
            border: none;
            gap: 26px;
        }
        
        .workshop-btn-seemore {
            color: #000000;
            text-align: center;
            font: 700 32px "Kalam", sans-serif;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -8px 8px 16px 0px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            width: 200px;
            background-color: rgba(219, 219, 219, 0.61);
        }
        
        .workshop-btn {
            color: #000000;
            text-align: center;
            font: 700 32px "Kalam", sans-serif;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -8px 8px 16px 0px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            /* background-color: #ffffff; */
            background-color: rgba(219, 219, 219, 0.61);
        }
        
        .workshop-btn-2 {
            color: #000000;
            text-align: center;
            font: 700 32px "Kalam", sans-serif;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -8px 8px 16px 0px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            cursor: pointer;
            width: 300px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            /* background-color: #ffffff; */
            background: rgba(219, 219, 219, 0.61);
            /* Center horizontally */
        }
        
        .photos-btn-cntrl {
            display: flex;
            justify-content: space-around;
            gap: 20px;
        }
        /* photos album  */
        /* carasoul */
        
        ol.carousel-indicators {
            position: absolute;
            bottom: 0;
            margin: 0;
            left: 0;
            right: 0;
            width: auto;
            color: #e42e2e;
        }
        
        ol.carousel-indicators li,
        ol.carousel-indicators li.active {
            float: left;
            width: 33%;
            height: 10px;
            margin: 0;
            border-radius: 0;
            border: 0;
            background: transparent;
            color: blue;
        }
        
        ol.carousel-indicators li.active {
            background: yellow;
        }
        
        .carousel-dark .carousel-indicators [data-bs-target] {
            background-color: blue;
        }
        /* offer slider */
        
        .slider-container {
            background-color: #f60f0f;
            width: 100%;
            height: 50px;
            overflow: hidden;
            position: relative;
        }
        
        .slider-content {
            display: flex;
            align-items: center;
            text-align: center;
            animation: scrollLeft 30s linear infinite;
            /* Adjust the duration (10s) as needed */
        }
        
        .offer {
            flex: 0 0 auto;
            padding: 10px;
            background-color: #ccc;
            white-space: nowrap;
            margin-right: 10px;
            text-align: center;
            align-items: center;
            display: flex;
            padding-right: 70px;
            padding-left: 70px;
            /* Center text horizontally */
        }
        
        #tabs .nav-tabs {
            border-bottom: none;
            /* or border-bottom: 0; */
        }
        
        @keyframes scrollLeft {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }