/* text div */


/*both image and text*/

.img-text {
    flex-wrap: wrap;
}


/*changing text*/

.carousel {
    height: 250px;
    /* Set a fixed height for consistent positioning */
    overflow: hidden;
    /* Hide overflowing content */
    position: relative;
    top: 0;
    /* Optional: Adjust positioning if needed */
    justify-content: center;
}

.circ-heal-studio-unleash-creativity-heal-with-art,
.circ-heal-studio-unleash-creativity-heal-with-art * {
    box-sizing: border-box;
}

.circ-heal-studio-unleash-creativity-heal-with-art {
    text-align: center;
    position: relative;
    /*width: 400px;
    height:400px;*/
    justify-content: center;
}


/*text 1 - circ heal studio*/

.circ-heal-studio-unleash-creativity-heal-with-art-span {
    color: #513e3e;
    font: 400 30px 'Matura MT Script Capitals', sans-serif;
}


/*text 2 - Unleash Creativity, heal with */

.circ-heal-studio-unleash-creativity-heal-with-art-span2 {
    color: #000000;
    font: 44px 'Matura MT Script Capitals', sans-serif;
    text-align: center;
    top: 40px;
}

.circ-heal-studio-unleash-creativity-heal-with-art-span3 {
    color: #1b7a30;
    font: 400 64px 'Matura MT Script Capitals', sans-serif;
    justify-content: center;
}


/* learn more */

.learn-btn {
    background: #d9d9d9;
    border-radius: 55px;
    box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.5), 4px -4px 8px 0px rgba(0, 0, 0, 0.32), inset -4px 4px 10px 0px rgba(0, 0, 0, 0.33);
    cursor: pointer;
}

.btn-center {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;
}

.learn-more-txt {
    color: #000000;
    text-align: left;
    font: 400 20px "Merienda One", sans-serif;
    position: relative;
    text-decoration: none;
}

.sign-up {
    color: #000000;
    text-align: center;
    font: 400 20px "Merienda One", sans-serif;
    text-decoration: none;
}

.learn-btn-2 {
    background: rgba(81, 225, 138, 0.35);
    border-radius: 25px;
    box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.5), 4px -4px 8px 0px rgba(0, 0, 0, 0.32), inset -4px 4px 10px 0px rgba(0, 0, 0, 0.33);
    cursor: pointer;
}

.btn-cntrl {
    display: flex;
    justify-content: flex-end;
    gap: 36px;
    text-align: center;
    align-items: center;
}


/* learn more */


/* second slide */


/* Jaiwin */

.find-your-center-create-your-purpose-circheal-studio,
.find-your-center-create-your-purpose-circheal-studio * {
    box-sizing: border-box;
}

.find-your-center-create-your-purpose-circheal-studio {
    text-align: center;
    position: relative;
    width: 500px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center
}

.find-your-center-create-your-purpose-circheal-studio-span {
    color: #000000;
    font: 400 48px 'Marko One', sans-serif;
}

.find-your-center-create-your-purpose-circheal-studio-span2 {
    color: #1fb72e;
    font: 400 48px 'Marko One', sans-serif;
    text-align: center;
}

.find-your-center-create-your-purpose-circheal-studio-span3 {
    color: #000000;
    font: 400 48px 'Marko One', sans-serif;
}

.find-your-center-create-your-purpose-circheal-studio-span4 {
    color: #000000;
    font: 400 64px 'Marko One', sans-serif;
}

.find-your-center-create-your-purpose-circheal-studio-span5 {
    color: #000000;
    font: 400 48px 'Marko One', sans-serif;
    margin-bottom: -20px;
}


/* second slide end */


/* third slide */

.creating-from-the-heart-healing-through-art-mind-body-creativity-aligned-circheal-studio,
.creating-from-the-heart-healing-through-art-mind-body-creativity-aligned-circheal-studio * {
    box-sizing: border-box;
    text-align: center;
}

.creating-from-the-heart-healing-through-art-mind-body-creativity-aligned-circheal-studio {
    text-align: center;
    font: 700 40px 'Kalam', sans-serif;
    position: relative;
    width: 623px;
    height: 255px;
    justify-content: center;
    background-color: blue;
}


/*text 2 line 1 */

.creating-from-the-heart-healing-through-art-mind-body-creativity-aligned-circheal-studio-span {
    color: #000000;
    font: 700 40px 'Kalam', sans-serif;
}


/*text 2 line 2 */

.creating-from-the-heart-healing-through-art-mind-body-creativity-aligned-circheal-studio-span2 {
    color: #e61212;
    font: 700 40px 'Kalam', sans-serif;
}


/*text 2 line 3 */

.creating-from-the-heart-healing-through-art-mind-body-creativity-aligned-circheal-studio-span3 {
    font: 700 40px 'Kalam', sans-serif;
}


/*text 2 line 4 */

.creating-from-the-heart-healing-through-art-mind-body-creativity-aligned-circheal-studio-span4 {
    font: 700 40px 'Kalam', sans-serif;
    color: cadetblue;
}


/* third slide */


/* text div end */


/* carasoul slide navigator */

.nav-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.btn-clr {
    background: #bb1414;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.btn-clr-2 {
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.5);
}


/* nav end */


/*whole content including header image and text */

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* margin: 0; */
    /* background-color: #f0f0f0; */
}


/*image background*/

.image-container {
    position: relative;
    width: 500px;
    /* Set the desired fixed width */
    height: 500px;
    /* Set the desired fixed height */
    overflow: hidden;
}

#dynamic-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*animation for images swipe from middle*/
    /*animation-name: example ;
    animation-duration: 4s;
    animation-delay: -2s;*/
}

@keyframes example {
    0% {
        background-color: lightyellow;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: dimgrey;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: ghostwhite;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: paleturquoise;
        left: 0px;
        top: 0px;
    }
}


/* This only changes this particular animation duration */

.animate__animated.animate__bounce {
    --animate-duration: 6s;
}


/* This changes all the animations globally */

:root {
    --animate-duration: 500ms;
    --animate-delay: 0.10s;
}

@media (max-width: 768px) {
    .img-text {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}