.welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences,
.welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences * {
    box-sizing: border-box;
}

.welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences {
    text-align: left;
    font: 400 32px "Alice", sans-serif;
    position: relative;
    width: 910px;
    height: 360px;
}

.welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences-span {
    color: #000000;
    font: 400 32px "Alice", sans-serif;
}

.welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences-span2 {
    color: #ffffff;
    font: 400 32px "Alice", sans-serif;
}

.welcome-to-circheal-where-the-mesmerizing-world-of-mandala-art-and-playful-doodles-come-together-to-ignite-creativity-and-inspire-connections-with-a-passion-for-intricate-designs-and-boundless-imagination-we-offer-a-range-of-immersive-workshops-classes-and-captivating-artwork-that-celebrate-the-beauty-of-circles-and-lines-our-artistic-journey-is-fueled-by-a-dedication-to-crafting-meaningful-experiences-span3 {
    color: #000000;
    font: 400 32px "Alice", sans-serif;
}